$red: red;
$dark-white: #e6d8d7;
$black: #000;
$rgba-black: rgba(0, 0, 0, 1);
$rgba-gray: rgba(0, 0, 0, 0);
$light-blue: rgb(66, 66, 255);
$dark-purple: rgb(139, 139, 255);
$yellow: #fdf497;
$light-red: #fd5949;
$dark-purple: #d6249f;
$royal-blue: #285aeb;

$font-Cambria: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

$thick-red-border: red 6px solid;

$font-weights: (
  "regular": 400,
  "mediaum": 500,
  "bold": 700,
);
